@page
@using QuizMaster.Components;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="main-container">
	<div class="header">
		<form method="post"><button type="submit" asp-page-handler="SetQuiz">Quiz</button></form>
		<form method="post"><button type="submit" asp-page-handler="SetEditor">Editor</button></form>
	</div>
	<div class="content">
		@if(Model.quiz)
			@(await Html.RenderComponentAsync<Quiz>(RenderMode.ServerPrerendered))
		else if(Model.editor)
			@(await Html.RenderComponentAsync<Editor>(RenderMode.ServerPrerendered))
	</div>
</div>

<script src="_framework/blazor.server.js"></script>