@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Logging
@using QuizMaster.Models
@using QuizMaster.Services
@inject JsonFileQuestionService QuestionService

@{
	SetQuestions();
}
<div class="editor @(question == null)">
	@if (question == null)
	{
		@for (int i = 0; i < questions.Length; i++)
		{
			int index = i;
			<div class="editable-question">
				<h3>Question : @questions[index].Question</h3>
				<button @onclick="(e => EditQuestion(questions[index].Id))">Edit</button>
			</div>
		}
	}
	@if (question != null)
	{
		<div class="editing-question">
			<EditForm Model="question" OnSubmit="HandleSubmit">
				<DataAnnotationsValidator />
				<div class="editing-question content">
					<label for="id">Question :</label>
					<InputText id="id" @bind-Value="question.Question" />

					<h3>Answers :</h3>
				</div>
				<div class="editing-question footer">
					<button type="submit">Submit</button>
					<button type="button" @onclick="e => question = null"  style="background-color:#c23616">Return</button>
				</div>
			</EditForm>
		</div>
	}
</div>

@code {
	QuestionModel[] questions;
	QuestionModel question;
	void SetQuestions()
	{
		questions = QuestionService.GetQuestions();
	}
	void HandleSubmit()
	{
		for (int i = 0; i < questions.Length; i++)
			if (questions[i].Id == question.Id) questions[i].Question = question.Question;
		QuestionService.UpdateDataBase(questions);
		SetQuestions();
	}
	void EditQuestion(string id)
	{
		var ques = questions.First(x => x.Id == id);
		if (ques != null)
		{
			question = ques;
		}
	}
}
