@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Logging
@using QuizMaster.Models
@using QuizMaster.Services

@inject JsonFileQuestionService QuestionService

@{
	SetQuestions();
}
<div class="editor">
	@for(int i = 0; i < questions.Length; i++)
	{ 
		<div class="editable-question">
			<h3>Question + @questions[i].Question</h3>
			<button @onclick="(() => EditQuestion(questions[i].Id))">Edit</button>
		</div>
	}
	@if (question != null)
	{
		<div>

			QuestionModel question = questions[i];
			<EditForm Model="@question" OnSubmit="@Submit">
				<DataAnnotationsValidator />
				<div class="editable-question">
					<h3>Question :</h3>
					<InputText id="id" @bind-Value="question.Question" />

					<h3>Answers :</h3>
					@for (int j = 0; j < question.Answers.Length; j++)
					{
						string s = question.Answers[j];
						<InputTextArea id="@("question" + j)" @bind-Value="s" />
					}
					<button type="submit">Submit</button>
				</div>
			</EditForm>
		</div>
	}
</div>

@code {
	QuestionModel[] questions;
	QuestionModel question;
	void SetQuestions()
	{
		questions = QuestionService.GetQuestions();
	}
	void Submit()
	{
	}
	void EditQuestion(string id)
	{
		
	}
}
